node_modules

# Output
.output
.vercel
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# wrangler files
.wrangler
.dev.vars

cf_project_deployment.sh
x.txt
fake_data
/src/lib/data